  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		</button>
      <a class="navbar-brand" href="#/dashboard"><img src="images/contraflow-white-logo.png" alt="ContraFlow Logo" height="30px" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li><a href="#/dashboard"><i class="fa fa-tachometer fa-navbar"></i> Home</a></li>
		<li class="divider"></li>
		<li><a href="#/tasks"><i class="fa fa-tasks fa-navbar"></i> Tasks</a></li>
		<li class="divider"></li>
		<li><a href="#/leads"><i class="fa fa-bullseye fa-navbar"></i> Leads</a></li>
		<li class="divider"></li>
		<li><a href="#/contacts"><i class="fa fa-user fa-navbar"></i> Contacts</a></li>
		<li class="divider"></li>
		<li><a href="#/syncdata"><i class="fa fa-refresh fa-navbar"></i> Synchronize Data</a></li>
		<li class="divider"></li>
        <li><a href="#/account"><i class="fa fa-smile-o fa-navbar"></i> Account Information</a></li>
        <li class="divider"></li>
		<li><a href="#/settings"><i class="fa fa-cogs fa-navbar"></i> Settings</a></li>
		<li class="divider"></li>
		<li><a href="#/privacy"><i class="fa fa-cogs fa-navbar"></i> Privacy Policy</a></li>
		<li class="divider"></li>
		<li><a href="#/termsofuse"><i class="fa fa-cogs fa-navbar"></i> Terms of use</a></li>
		<li class="divider"></li>			
		<li><a href="#/login"><i class="fa fa-sign-out fa-navbar"></i> Logout</a></li>
	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

<!-- Page Heading Starts -->
<div class="navbar navbar-default">
<div class="container-fluid">   
<div class="pull-left btn-padding nullpaddingleft"><a href="#/createcontacts"><i class="fa fa-plus white"></i> <span class="white">Add</span></a></div>
<div class="right sectiontitle nullpaddingright">Contacts</div>
</div>	
</div>	
<!-- Page Heading Ends -->
  
</nav>

<!-- Actual Content Starts -->
<div class="content greenbg">
	<div class="container-fluid center">
		<div class="row">
			<div class="col-xs-12 pad20">
			<form role="form">
			<div class="form-group">
				<label class="sr-only" >Search</label>
				<input type="email" class="form-control" placeholder="Search Contact">
			</div>
			</form>
		</div>
	</div>
</div>


<div class="container-fluid">

<!-- Data Set 1 -->
<div class="row">
<div class="col-xs-7 pull-left">
<p><h5><strong><a class="bar" href="#/contactsdetails">Roger Smith</a></strong></h5></p>
<p><h5>S. K. Rogers Consulting Inc.</h5></p>
<p>skrogers@skgroup.com</p>
<p>001 2535 222 198</p>
</div>

<div class="col-xs-5 pull-right pad20top">
<p><a href="#/createleads"><i class="fa fa-bullseye fa-navbar"></i> Create Lead</a></p>
<p><a href="#/createtasks"><i class="fa fa-tasks fa-navbar"></i> Add Task</a></p>
<p><a href="#/contactsdetails"><i class="fa fa-tasks fa-navbar"></i> View Details</a></p>
</div>
</div>

<div class="divider"></div>

<!-- Data Set 2 -->
<div class="row">
<div class="col-xs-7 pull-left">
<p><h5><strong><a class="bar" href="#/contactsdetails">Roger Smith</a></strong></h5></p>
<p><h5>S. K. Rogers Consulting Inc.</h5></p>
<p>skrogers@skgroup.com</p>
<p>001 2535 222 198</p>
</div>

<div class="col-xs-5 pull-right pad20top">
<p><a href="#/createleads"><i class="fa fa-bullseye fa-navbar"></i> Create Lead</a></p>
<p><a href="#/createtasks"><i class="fa fa-tasks fa-navbar"></i> Add Task</a></p>
<p><a href="#/contactdetails"><i class="fa fa-tasks fa-navbar"></i> View Details</a></p>
</div>
</div>

<div class="divider"></div>

<!-- Data Set 3 -->
<div class="row">
<div class="col-xs-7 pull-left">
<p><h5><strong><a class="bar" href="#/contactsdetails">Roger Smith</a></strong></h5></p>
<p><h5>S. K. Rogers Consulting Inc.</h5></p>
<p>skrogers@skgroup.com</p>
<p>001 2535 222 198</p>
</div>

<div class="col-xs-5 pull-right pad20top">
<p><a href="#/createleads"><i class="fa fa-bullseye fa-navbar"></i> Create Lead</a></p>
<p><a href="#/createtasks"><i class="fa fa-tasks fa-navbar"></i> Add Task</a></p>
<p><a href="#/contactsdetails"><i class="fa fa-tasks fa-navbar"></i> View Details</a></p>
</div>
</div>



</div>
</div>
<!-- Actual Content Ends-->	
   

<footer class="footer">
 <div class="container-fluid">
		<div class="navbar navbar-app navbar-absolute-bottom">
		<div class="btn-group justified">
		<a class="btn btn-navbar" href="#/tasks">
		<i class="fa fa-tasks fa-navbar"></i>
		Tasks
		</a>

		<a class="btn btn-navbar" href="#/leads">
		<i class="fa fa-bullseye fa-navbar"></i>
		Leads
		</a>
		
		<a class="btn btn-navbar" href="#/dashboard">
		<i class="fa fa-home fa-navbar"></i>
		Home
		</a>
		</div>
		</div>				
	</div>
</footer>
