  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		</button>
      <a class="navbar-brand" href="#/dashboard"><img src="images/contraflow-white-logo.png" alt="ContraFlow Logo" height="30px" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
        <li><a href="#/dashboard"><i class="fa fa-tachometer fa-navbar"></i> Home</a></li>
        <li class="divider"></li>
        <li><a href="#/tasks"><i class="fa fa-tasks fa-navbar"></i> Tasks</a></li>
        <li class="divider"></li>
        <li><a href="#/leads"><i class="fa fa-bullseye fa-navbar"></i> Leads</a></li>
        <li class="divider"></li>
        <li><a href="#/contacts"><i class="fa fa-user fa-navbar"></i> Contacts</a></li>
        <li class="divider"></li>
        <li><a href="#/syncdata"><i class="fa fa-refresh fa-navbar"></i> Synchronize Data</a></li>
        <li class="divider"></li>
        <li><a href="#/account"><i class="fa fa-smile-o fa-navbar"></i> Account Information</a></li>
        <li class="divider"></li>
        <li><a href="#/settings"><i class="fa fa-cogs fa-navbar"></i> Settings</a></li>
        <li class="divider"></li>
        <li><a href="#/privacy"><i class="fa fa-cogs fa-navbar"></i> Privacy Policy</a></li>
        <li class="divider"></li>
        <li><a href="#/termsofuse"><i class="fa fa-cogs fa-navbar"></i> Terms of use</a></li>
        <li class="divider"></li>
        <li><a href="#/login"><i class="fa fa-sign-out fa-navbar"></i> Logout</a></li>
	</ul>
	
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  
<!-- Page Heading Starts -->
<div class="navbar navbar-default">
<div class="container-fluid">   
<div class="pull-left btn-padding nullpaddingleft"></div>		
<div class="right sectiontitle nullpaddingright">Terms of use</div>
</div>	
</div>	
<!-- Page Heading Ends -->
  
</nav>


	
<!-- Actual Content Starts -->
<div class="content greenbg">

<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 pad20">
				<h3>Term 1</h3>
				<p style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
				<div class="pad20top"></div>
				<h3>Term 2</h3>
				<p style="text-align:justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>	
				<div class="pad20top"></div>
			</div>
		</div>
	</div>


</div>
<!-- Actual Content Ends-->	
   

<footer class="footer">
 <div class="container-fluid">
		<div class="navbar navbar-app navbar-absolute-bottom">
		<div class="btn-group justified">
		<a class="btn btn-navbar" href="#/tasks">
		<i class="fa fa-homfa fa-pencil-square-o fa-navbar"></i>
		Tasks
		</a>

		<a class="btn btn-navbar" href="#/leads">
		<i class="fa fa-bullseye fa-navbar"></i>
		Leads
		</a>

		<a class="btn btn-navbar" href="#/contacts">
		<i class="fa fa-user fa-navbar"></i>
		Contacts
		</a>
		
		<a class="btn btn-navbar" href="#/dashboard">
		<i class="fa fa-home fa-navbar"></i>
		Home
		</a>
		</div>
		</div>				
	</div>
</footer>
